<div class="card mt-5 table-hover" style="padding: 30px; width: 1000px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Leave ID</th>
        <th scope="col">Date</th>
        <th scope="col">Leave Type</th>
        <th scope="col">Duration</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rejected of rejectedList">

        <td>{{rejected.id}}</td>
        <td>{{this.datePipe.transform(rejected.date, 'yyyy-MM-dd')}}</td>
        <td>{{rejected.leaveType}}</td>
        <td>{{rejected.duration}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
        </td>
        <td><button type="button" class="btn btn-danger" (click)="deleteStudentById(student)">Delete</button></td>
      </tr>

    </tbody>
  </table>
</div>