<div class="container">
  <div class="row">
    <div class="card mt-5 border-secondary" style="width: 35rem;margin:auto; padding-top: 1rem; ">
      <div class="card-title">
        <div class="row">
          <div class="col ">

          </div>
          <div class="col" style="padding-left: 13rem;padding-right: 0rem;">
            <button class="btn btn-info" style="margin-right: 0px;" (click)="addEmployee()">Add Employee</button>
          </div>
        </div>
        <div class="row">
          <legend style="padding-left: 2rem;">Employee Manager</legend>
        </div>
        <div style="margin-top: 2rem;padding-left: 8rem;">
          <div class="row">
            <label for="search">Search Here</label>
          </div>
          <div class="row">

            <div class="col col-md-7">
              <input type="text" class="form-control" placeholder="search by name" [(ngModel)]="searchText" id="search">
            </div>

          </div>
        </div>


      </div>
      <div class="card-body">

        <!-- search goes here -->

      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="card border-secondary" style="width: 55rem;background-color: rgba(240, 248, 255, 0);">
      <div class="card-header" style="background-color: rgba(240, 248, 255, 0);">
        <div class="row">

          <div class="col">
            <ul class="nav nav-tabs card-header-tabs">

              <li class="nav-item">

                <a class="nav-link active" aria-current="true" style="padding: 0;"><button
                    class="btn btn-link text-white " class="btn btn-dark"
                    style="text-decoration: none;padding: 0.2rem;padding-left: 1rem;padding-right: 1rem;margin-bottom: 0;"
                    (click)="getactive()" id="active"><span>Active</span></button></a>


              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="true" style="padding: 0;"><button
                    class="btn btn-link text-white"
                    style="text-decoration: none;padding: 0.2rem;padding-left: 1rem;padding-right: 1rem;margin-bottom: 0;"
                    (click)="DeleteList()" class="btn btn-dark" id="active">Deleted</button></a>
              </li>

            </ul>


          </div>
          <div class="col col-md-5" style="padding-left: 14rem;margin-top: 0.3rem;">
            <legend class="fs-5">{{option}} List</legend>
          </div>

        </div>


      </div>
      <div class="card-body" style="align-self: center;">

        <div class="card mb-3 mt-3" style="max-width: 45rem;"
          *ngFor="let employee of selectedList | search : searchText">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body" style="align-content: flex-start;">
                <div class="row">
                  <div class="col col-md-4">
                    <h4 class="card-title">#Employee ID: {{employee.id}}</h4>
                  </div>
                  <div class="col" style="margin-right: 0%;padding: 0%;margin-left: 0rem; padding-left:15rem">
                    <button class="btn btn-warning" style="margin-right: 0.3rem;padding:0.2rem"
                      (click)="editInfo(employee.id)" [disabled]="visible" *ngIf="!visible"><fa-icon [icon]="pen"
                        size="sm"></fa-icon></button>
                    <button (click)="delMsg(employee.id)" class="btn btn-danger" style="padding:0.2rem" *ngIf="!visible"
                      [disabled]="visible"><fa-icon [icon]="bin" type="solid" size="sm"></fa-icon></button>
                  </div>
                </div>

                <div class="row">
                  <p>Name: {{employee.firstname}} {{employee.lastname}}</p>
                </div>
                <div class="row">
                  <p>Gender: {{ editEnum(employee.gender) }}</p>
                </div>
                <div class="row">
                  <p>Date Of Birth: {{createDate(employee.dob)}}</p>
                </div>
                <div class="row">
                  <div class="col">
                    <p>Email: {{employee.email}}</p>
                  </div>
                  <div class="col">
                    <p>Telephone No: {{employee.telephoneNo}}</p>
                  </div>

                </div>

                <p class="card-text"><small class="text-muted">Registered On:
                    {{createDate(employee.registeredDate)}}</small></p>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>