<div class="container">
  <div class="row justify-content-md-center">

    <div class="card mt-5" style="width: 35rem;padding:2rem">

      <div class="card-body">
        <h5 class="card-title">
          <legend class="mb-4">Leave History</legend>
        </h5>
        <p class="card-text">Select a Leave Type: </p>

        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption"
          (change)="selectChangedHandler($event)">

          <option value="Pending Leaves">Pending Leaves</option>
          <option value="Approved Leaves">Approved leaves</option>
          <option value="Rejected Leaves">Rejected Leaves</option>
          <option value="Deleted Leaves">Deleted Leaves</option>
        </select>


      </div>

    </div>

  </div>
  <div class="row mt-3" style="width: 60rem;">


    <div class="card text-center mt-5 border-secondary" style="background-color: rgba(255, 255, 255, 0);">
      <div class="card-header" style="background-color: rgba(255, 255, 255, 0);">
        <div class="row">
          <div class="col">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active  text-white" aria-current="true"
                  style="background-color: rgb(11, 11, 11);">{{selectedOption}}</a>
              </li>


            </ul>

          </div>
          <div class="col col-md-5">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">

            </pagination-controls>
          </div>
        </div>

      </div>
      <div class="card-body fs-6" style="background-color: rgba(255, 254, 254, 0);">

        <div class="row" *ngFor="let leave of leaveList|search : searchText | paginate : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        } ; let i = index">

          <div class="card mb-3 border-info mb-3" style="padding: 20px;">

            <div class="card-title" style="align-self: flex-start;">
              <h2>Application #{{leave.id}}</h2>
            </div>

            <table class="table table-borderless table-hover table-striped table-info">
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Created On</th>
                  <th>Apply for</th>

                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>{{createDate(leave.startDate)}}</td>
                  <td>{{createDate(leave.endDate)}}</td>
                  <td>{{createDate(leave.createdDate)}}</td>
                  <td>{{leaveItemSize(leave.leaveItem)}} {{''}} day</td>
                </tr>
              </tbody>

            </table>


            <div class="row mt-3" style="align-self: center; width: 50rem;">


              <div class="col mb-3">

                <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;"
                  (click)="deleteApplication(leave.id)" [disabled]="!isVisible" *ngIf="isVisible">Delete</button>

                <button class="btn btn-outline-primary btn-text" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                  (click)="getLeaveList(leave.label)">
                  <span>View more</span><b>show less</b>
                </button>
              </div>

            </div>

            <div class="collapse" id="collapseExample">
              <div class="card card-body border-light" style="width: 600px; align-items: center;margin: auto;">
                <table class="table table-borderless table-hover table-striped table-light">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Leave Type</th>
                      <th>Leave Duration</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of leave.leaveItem; let i = index">
                      <td>{{createDate(item.date)}}</td>
                      <td>{{converEnum(item.type)}}</td>
                      <td>{{converEnum(item.duration)}}</td>
                      <td> <button type="button" class="btn btn-warning" style="margin-right: 10px; padding: 5px;"
                          (click)="viewEdit(item,leave.id,i)" [disabled]="!isVisible"><fa-icon [icon]="pen"
                            size="lg"></fa-icon></button>

                      </td>
                    </tr>

                  </tbody>

                </table>
              </div>
            </div>
          </div>

        </div>

      </div>













    </div>
  </div>