a {
  text-decoration: none;
}
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right i {
  font-size: 100px;
}
/* ::ng-deep  .cdk-overlay-container{
  position: fixed !important;
    z-index: 100000 !important; /* set value you need */

/* }  */ 
