<div class="login-page " style="background-color: rgb(207, 227, 236);">
  <div class="container">
    <div class="row">

      <div class="col-lg-10 offset-lg-1">
        <h2 class="mb-3">Login Now</h2>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form class="row g-4" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <div class="col-12">
                    <label for="username">Username<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><fa-icon [icon]="user"></fa-icon></div>
                      <input type="text" ngModel name="username" id="username" placeholder="Enter your username"
                        class="form-control">

                    </div>

                  </div>
                  <div class="col-12">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><fa-icon [icon]="lock"></fa-icon></div>
                      <input type="password" ngModel name="password" id="password" placeholder="Enter your password"
                        class="form-control">

                    </div>

                  </div>
                  <div class="row"></div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-link" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Signup</button>


                  </div>
                  <div class="col-sm-6">
                    <a href="#" class="float-end text-primary"></a>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary px-4 float-end mt-4" value="login"
                      [disabled]="">login</button>
                  </div>





                </form>
              </div>

            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div class="form-right h-100  text-white text-center pt-5" style="background-color: black;">
                <i class="bi bi-bootstrap"></i>
                <h2 class="fs-1 mt-5">Welcome Back!!!</h2>
                <h5>Employee Leave Manager</h5>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="padding-top: 2rem;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white" style="height: 3rem;padding: 0.7rem;padding-bottom:0rem">
        <h1 class="modal-title fs-4" id="exampleModalLabel">
          Signup
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">

        <app-signup *ngIf="showModal" (onClose)="modalClosed($event)"></app-signup>

      </div>
    </div>
  </div>