<div class="card">
  <div class="card-header" style="background-color:rgb(17, 229, 229) ;">
    <legend class="mt-1">Change Password</legend>
  </div>
  <div class="card-body">

    <form [formGroup]="changePassword" (ngSubmit)="save()">
      <div class="row mt-3" style="padding-left: 2rem;">
        <div class="col col-md-7">
          <div class="row">
            <div class="col col-md-8">
              <div class="col col-md-4">
                <label for="oldPassword">Old Password</label>
              </div>
              <div class="col">
                <div class="row">
                  <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword">

                </div>
                <div class="row">
                  <div class="alert alert-danger" style="height:5px; justify-content: center;" *ngIf="
                  oldPassword?.invalid && (oldPassword?.touched || oldPassword?.dirty)
                ">
                    <div *ngIf="oldPassword?.errors?.['required']">
                      Old password can't be emtpy
                    </div>
                    <div *ngIf="oldPassword?.errors?.minlength">
                      Old Password must be 6 charcters long
                    </div>
                  </div>

                </div>

              </div>

            </div>
            <div class="col">
              <div class="col">

              </div>
              <div class="col">

              </div>

            </div>

          </div>
        </div>


      </div>
      <div class="row mt-3" style="padding-left: 2rem;">


        <div class="col col-md-6">

          <div class="col col-md-4">
            <label for="newPassword">New Password</label>
          </div>
          <div class="col col-md-9">
            <div class="row">
              <input type="password" class="form-control" formControlName="newPassword" id="newPassword"
                (change)="getNewPassword($event)">
            </div>
            <div class="row">
              <div class="alert alert-danger" style="height:5px; justify-content: center;" *ngIf="
                  newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)
                ">
                <div *ngIf="newPassword?.errors?.['required']">
                  New password can't be emtpy
                </div>
                <div *ngIf="newPassword?.errors?.minlength">
                  New Password must be 6 charcters long
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="col col-md-6">

          <div class="col col-md-4">
            <label for="confirmPassword">Confirm Password</label>
          </div>
          <div class="col col-md-9">
            <div class="row">
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                (change)="getConfirmPassword($event)">

            </div>
            <div class="row">
              <div class="alert alert-danger" style="height:5px; justify-content: center;" *ngIf="
                  confirmPassword?.invalid && (confirmPassword?.touched || oldPassword?.dirty)
                ">
                <div *ngIf="confirmPassword?.errors?.['required']">
                  Confirm password can't be emtpy
                </div>
                <div *ngIf="confirmPassword?.errors?.minlength">
                  Confirm Password must be 6 charcters long
                </div>
                <div *ngIf="confirmPassword?.errors?.confirmedValidator">New password and Confirm Password must be
                  match.
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="row mt-5">
        <div class="col">

        </div>
        <div class="col" style="padding-left: 27rem;">
          <button class="btn btn-primary" mat-dialog-close="" style="margin-right: 1rem;">Close</button>
          <button class="btn btn-success" [disabled]="changePassword.invalid">Save</button>
        </div>
      </div>

    </form>


  </div>
</div>