<!-- <div class="container">
  <div class="row mt-5">
    <div class="d-grid gap-2 d-md-flex">
      <h2>Leave Management</h2>

    </div>


  </div>
  <div class="row mt-3">
    <div class="card text-center" style="min-width: 850px;">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" style="background-color: rgb(239, 243, 15);"
              (click)="pendingList()"><button class="btn">Pending-List</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" style="background-color: rgb(243, 68, 15);"
              (click)="getAcceptList()"><button class="btn">Accepted-List</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" style="background-color: rgb(243, 68, 15);"><button
                class="btn" (click)="getRejectList()">Rejected-List</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" style="background-color: rgb(15, 175, 243);"><button
                class="btn">Add Employee</button></a>
          </li> -->

<!-- 
</ul>
</div>
<div class="card-body">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pending ID</th>
        <th scope="col">Username</th>
        <th scope="col">Apply date</th>
        <th scope="col">Leave Type</th>
        <th scope="col">Leave Duration</th>
        <th scope="col">View Employee Info</th>
        <th scope="col">Accept</th>
        <th scope="col">Reject</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list ">

        <td>{{item.id}}</td> -->

<!-- <td>{{this.datePipe.transform(item.date, 'yyyy-MM-dd')}}</td> -->
<!-- <td>{{item.username}}</td>
        <td>{{item.date}}</td>
        <td>{{item.leaveType}}</td>
        <td>{{item.leaveDuration}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal"><fa-icon
              [icon]="info"></fa-icon>
          </button>
        </td>
        <td><button type="button" class="btn btn-success" (click)="accept(item.id)"><fa-icon
              [icon]="check"></fa-icon></button></td>
        <td><button type="button" class="btn btn-danger" (click)="reject(item.id)"><fa-icon
              [icon]="ban"></fa-icon></button></td>
      </tr>

    </tbody>
  </table>

</div>
</div>
</div> -->


<div class="container">
  <div class="row" style="min-width: 500px;">

    <div class="card border-secondary mt-5" style="padding-top: 10px;min-width: 500px;">

      <article>
        <h1 class="display-4">Employee Leave Management</h1>
        <h2><span>Select a type of leave:</span></h2>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="value"
          (change)="selectChangedHandler($event)">

          <option value="Pending Leaves">Pending Leaves</option>
          <option value="Approved Leaves">Approved leaves</option>
          <option value="Rejected Leaves">Rejected Leaves</option>
          <option value="Deleted Leaves">Deleted Leaves</option>
        </select>
        <p><span>Category: </span><b>{{selectedOption}}</b></p>
      </article>











    </div>

  </div>
  <div class="row" style=" min-width: 700px;">

    <div class="card text-center mt-5 border-secondary">
      <div class="card-header" style="background-color: rgb(255, 255, 255);">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active  text-white" aria-current="true"
              style="background-color: rgb(104, 104, 104);">{{selectedOption}}</a>
          </li>


        </ul>
      </div>
      <div class="card-body">

        <div class="row" *ngFor="let leave of leaveList; let i = index">

          <div class="card mb-3 border-info mb-3" style="padding: 20px;">

            <div class="card-title" style="align-self: flex-start;">
              <h3>Application {{i+1}}</h3>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Created On</th>
                  <th>Apply for</th>

                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>{{createDate(leave.startDate)}}</td>
                  <td>{{createDate(leave.endDate)}}</td>
                  <td>{{createDate(leave.createdDate)}}</td>
                  <td>{{leaveItemSize(leave.leaveItem)}} {{''}} day</td>
                </tr>
              </tbody>

            </table>


            <div class="row mt-3" style="align-self: flex-end;">


              <div class="col mb-3">

                <button type="button" class="btn btn-danger" style="margin-right: 10px;">Delete</button>

                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                  (click)="getLeaveList(leave.label)">
                  View more
                </button>
              </div>



            </div>

            <div class="collapse" id="collapseExample">
              <div class="card card-body border-light" style="width: 600px; align-items: center;margin: auto;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Leave Type</th>
                      <th>Leave Duration</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of leave.leaveItem ">
                      <td>{{createDate(item.date)}}</td>
                      <td>{{converEnum(item.type)}}</td>
                      <td>{{converEnum(item.duration)}}</td>
                      <td> <button type="button" class="btn btn-warning" style="margin-right: 10px;">Edit</button>
                        <button type="button" class="btn btn-danger" style="margin-right: 10px;">Delete</button>
                      </td>
                    </tr>

                  </tbody>

                </table>
              </div>
            </div>








          </div>

        </div>

      </div>
    </div>