<!-- <div class="card border-secondary text-white bg-secondary"
  style="width: 20rem; padding: 20px; height: 40rem;margin:auto;">
  <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class=" card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title text-center">Profile</h3>
    <div class="row justify-content-md-center ">
      <p class="card-text" style="text-align: center;"> {{userDetails.firstname}} {{userDetails.lastname}}</p>
    </div>
    <div class="row justify-content-md-center">
      <p class="card-text" style="text-align: center;">{{this.userAuthService.getRoles()}}</p>
    </div>
  </div>
  <ul class="list-group list-group-flush" class="text-white bg-secondary">
    <li class="list-group-item">Email: {{userDetails.email}} </li>
    <li class="list-group-item">Date of Birth: {{formattedDate}}</li>
    <li class="list-group-item">Gender: {{userDetails.gender}}</li>
    <div class="card-body">
      <a href="#" class="card-link">Change password</a>
      <a href="#" class="card-link">Edit userdetails</a>
    </div>
  </ul>
</div> -->


<div class="container">

  <div class="row" style="width: 1000px; margin: auto; padding:10px">
    <div class="col col-md-6  mt-5" style="min-height: 500px;">

      <div class="card border-secondary" style="min-height: 500px;">
        <h5 class="card-header fs-5 text-white display-4" style="background-color: rgb(0, 132, 255);">Profile</h5>
        <div class="card-body">
          <div class="row" class="justify-content-md-center" style="align-items: center; padding-left: 100px;">

            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class=" card-img-top" alt="..."
              style="width:200px">

          </div>

          <div class="row mt-5" style="margin: auto;padding:12px">



            <h3>Name: {{user.firstname}} {{user.lastname}}</h3>

            <h3>Date of Birth: {{user.dob}} </h3>



            <h3><fa-icon [icon]="at"></fa-icon>: {{user.email}} </h3>



            <h3><fa-icon [icon]="mobile"></fa-icon>: {{user.telephoneNo}} </h3>




            <h5>Registered Date: {{user.registeredDate}}</h5>




            <div class="row">
              <div class="col">

                <button type="button" class="btn btn-info">Edit

                </button>


              </div>
              <div class="col">


                <button type="button" class="btn btn-warning">Change Password</button>

              </div>
            </div>



          </div>










        </div>
      </div>


    </div>
    <div class="col col-md-6 mt-5" style="min-height: 700px; padding-left: 60px;">
      <div class="row">

        <div class="card border-secondary" style="width: 25rem;">
          <div class="card-body" id="divChart">
            <h5 class="card-title">Leave count</h5>
            <canvas id="myChart"></canvas>
          </div>
        </div>


      </div>
      <div class="row">

        <div class="card mt-5 border-secondary" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Pending Leave</h5>
            <div class="row">


              <table class="table table-borderless">



                <thead>


                  <p>Leave Applications</p>
                  <tr>


                    <th>Created on</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let application of leaveApplicationList">
                    <td>{{this.datePipe.transform(application.createdDate, 'yyyy-MM-dd')}}</td>
                    <td>{{this.datePipe.transform(application.startDate, 'yyyy-MM-dd')}}</td>
                    <td>{{this.datePipe.transform(application.endDate, 'yyyy-MM-dd')}}</td>
                  </tr>

                </tbody>





              </table>






            </div>
          </div>

        </div>
      </div>

    </div>

  </div>