<div class="container" *ngIf="userService.roleMatch(['ROLE_USER'])">

  <div class="row" style="width: 1000px; margin: auto; padding:10px">
    <div class="col col-md-6  mt-5" style="min-height: 600px;">

      <div class="card border-secondary" style="min-height: 500px;">
        <h5 class="card-header fs-5 text-white display-4" style="background-color: rgb(0, 132, 255);">Profile</h5>
        <div class="card-body mb-2">
          <div class="row" class="justify-content-md-center" style="align-items: center; padding-left: 100px;">

            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class=" card-img-top" alt="..."
              style="width:200px">

          </div>

          <div class="row mt-5" style="margin: auto;padding:12px">

            <div class="row">
              <div class="col col-md-4">
                <h3>Name:</h3>
              </div>
              <div class="col col-md-6">
                <h3>{{user.firstname}} {{user.lastname}}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-4">
                <h3>Date of Birth:</h3>
              </div>
              <div class="col col-md-6">
                <h3>{{user.dob}}</h3>
              </div>
            </div>


            <div class="row">
              <div class="col ">
                <h3><fa-icon [icon]="at"></fa-icon>: {{user.email}} </h3>
              </div>
              <div class="col">
                <h3><fa-icon [icon]="mobile"></fa-icon>: {{user.telephoneNo}}</h3>
              </div>
            </div>


            <h5>Registered Date: {{user.registeredDate}}</h5>

            <div class="row mt-3">
              <div class="col">

                <button type="button" class="btn btn-info" (click)="editUser()">Edit

                </button>
              </div>
              <div class="col">

                <button type="button" (click)="changePassword()" class="btn btn-warning">Change Password</button>

              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
    <div class="col col-md-6 mt-5" style="min-height: 700px; padding-left: 60px;">
      <div class="row">

        <div class="card border-secondary" style="width: 25rem;" *ngIf="userService.roleMatch(['ROLE_USER'])">
          <div class="card-body" id="divChart">
            <h5 class="card-title">Leave count</h5>
            <canvas id="myChart"></canvas>
          </div>
        </div>


      </div>
      <div class="row">

        <div class="card mt-5 border-secondary" style="width: 25rem;" *ngIf="userService.roleMatch(['ROLE_USER'])">
          <div class="card-body">
            <h5 class="card-title">Pending Leave</h5>
            <div class="row">

              <p style="padding-left: 1rem;">Leave Applications</p>

              <table class="table table-borderless" style="padding-left: 1rem;margin: 0%;padding-right: 1rem;">

                <thead>

                  <tr>


                    <th>Created on</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let application of leaveApplicationList | paginate : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  }">
                    <td>{{this.datePipe.transform(application.createdDate, 'yyyy-MM-dd')}}</td>
                    <td>{{this.datePipe.transform(application.startDate, 'yyyy-MM-dd')}}</td>
                    <td>{{this.datePipe.transform(application.endDate, 'yyyy-MM-dd')}}</td>
                  </tr>

                </tbody>


              </table>
              <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"
                class="mt-3">

              </pagination-controls>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<div class="container" *ngIf="userService.roleMatch(['ROLE_ADMIN'])">
  <div class="row mt-5" style="width: 30rem;padding: 0;">
    <div class="card border-secondary" style="min-height: 500px;padding: 0;">
      <h5 class="card-header fs-5 text-white display-4" style="background-color: rgb(0, 132, 255);margin: 0;">Profile
      </h5>
      <div class="card-body">
        <div class="row" class="justify-content-md-center" style="align-items: center; padding-left: 100px;">

          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class=" card-img-top" alt="..."
            style="width:200px">

        </div>

        <div class="row mt-5" style="margin: auto;padding:12px">

          <div class="row">
            <div class="col col-md-4">
              <h3>Name:</h3>
            </div>
            <div class="col col-md-6">
              <h3>{{user.firstname}} {{user.lastname}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <h3>Date of Birth:</h3>
            </div>
            <div class="col col-md-6">
              <h3>{{user.dob}}</h3>
            </div>
          </div>


          <div class="row">
            <div class="col ">
              <h3><fa-icon [icon]="at"></fa-icon>: {{user.email}} </h3>
            </div>
            <div class="col">
              <h3><fa-icon [icon]="mobile"></fa-icon>: {{user.telephoneNo}}</h3>
            </div>
          </div>









          <h5>Registered Date: {{user.registeredDate}}</h5>




          <div class="row">
            <div class="col">

              <button type="button" class="btn btn-info" (click)="editUser()">Edit

              </button>
            </div>
            <div class="col">

              <button type="button" (click)="changePassword()" class="btn btn-warning">Change Password</button>

            </div>
          </div>



        </div>










      </div>
    </div>

  </div>
</div>