<!--   -->

<!-- 
<input type="date" [min]="minDate" [max]="maxDate">




<form [formGroup]="dateForm">
  <mat-form-field>
    <input matInput [matDatepicker]="startatpicker" placeholder="Choose a date" formControlName="dateControl">
    <mat-datepicker-toggle [for]="startatpicker"></mat-datepicker-toggle>
    <mat-datepicker #startatpicker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
</form> -->



<!-- 
<mat-form-field>
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date">
  <mat-hint>MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp startView="multi-year" (monthSelected)="setMonthAndYear($event, dp)"
    panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field> -->
<!-- <div class="form-group"> -->
<!-- Date input -->
<!-- <label>Date</label>
  <input name="dob" id="dob" matInput [matDatepicker]="picker" class="form-control" placeholder="MM/DD/YYYY"> -->
<!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
<!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div> -->

<!-- 
  <div class="form-group">
    <mat-form-field>

      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" min="{{minDate}}">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>


  </div> -->


<div class="container">

  <div class="row">
    <div class="card mt-5" style="width: 900px;align-items: center; padding: 30px;">
      <legend class="mb-5">Apply Leave Request</legend>

      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" formGroupName="daterange">
            <input formControlName="startDate" matStartDate placeholder="Start date" min='{{minDate}}'
              class="form-control">
            <input formControlName="endDate" matEndDate placeholder="End date" min=' {{minDate}}'>
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button class="btn btn-primary" style="margin-left: 20px;" (click)="onSubmit()" [disabled]="isVisible">Select
          Date Range</button>
      </form>


      <form [formGroup]="formRepeat">

        <div formArrayName="item" *ngFor="let creds of formRepeat.get('item')?.controls; let i = index">
          <ng-container [formGroupName]="i">
            <div class="row">
              <div class="col col-md-5">
                <label class="form-label mt-3">Selected Date {{i+1}}:</label>
                <input class="form-control" type="text" value="{{this.dateArray[i]}}"
                  aria-label="Disabled input example" disabled readonly>
              </div>
              <div class="row">
                <div class="col col-md-6">
                  <label class="form-label mt-3">Select Leave Type:</label>
                  <select class="form-control" formControlName="type">

                    <option type="TYPE_CASUAL">TYPE_CASUAL</option>
                    <option type="TYPE_SICK">TYPE_SICK</option>
                    <option type="TYPE_ANNUAL">TYPE_ANNUAL</option>
                  </select>

                </div>
                <div class="col col-md-6">
                  <label class="form-label mt-3">Select Time Duration:</label>
                  <select class="form-control" formControlName="duration">

                    <option duration="HALF">HALF</option>
                    <option duration="ENTIRE">ENTIRE</option>

                  </select>

                </div>
              </div>


            </div>
            <br>




          </ng-container>
        </div>

        <button [disabled]="!isVisible" type="submit" class="btn btn-outline-dark"
          (click)="submitRepeat()">Submit</button>


      </form>

    </div>

  </div>
</div>

<!-- <div class="card mt-5 table-hover" style="padding: 30px; width: 1000px;">
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Date</th>
        <th scope="col">Leave Type</th>
        <th scope="col">Duration</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let approved of ">




        <td><input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example"
            disabled></td>

        <td>

        </td>




      </tr>

    </tbody>
  </table>
</div> -->